extends ../shared/template
block content
  .row
    h2=person.email
  .row
    .col-xs-4
      a.thumbnail(href='#')
        img(src=person.photo)
    .col-xs-4
      .panel.panel-default
        .panel-body
          form(role='form', method='post', action='/message/#{person._id}')
            .row
              .col-xs-6
                .radio
                  label
                    input(type='radio' name='mtype' value='text' checked=true)
                    span Text
                .radio
                  label
                    input(type='radio' name='mtype' value='email')
                    span Email
                .radio
                  label
                    input(type='radio' name='mtype' value='internal')
                    span Internal
              .col-xs-6
                .form-group
                  label(for='message') Message
                  textarea.form-control#message(name='message', autofocus=true)
                .form-group
                  button.btn.btn-info.btn-sm(type='submit') Send Message
  .row
    table.table
      thead
        tr
          th Email:
          th Phone:
          th Twitter:
          th Facebook:
      body
        tr
          td: a(href=person.email, target='/users/#{user.email}')= person.email
          td= person.phone
          td: a(href=person.facebook, target='_blank')= person.facebook
          td: a(href=person.twitter, target='_blank')= person.twitter

block scripts

